<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameui/buybtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,964},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>gameui/goldbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,964},{153,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,56}</string>
			</dict>
			<key>gameui/helpbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,873},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>gameui/indexbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,873},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>gameui/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,226},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>gameui/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,964},{161,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,50}</string>
			</dict>
			<key>gameui/numbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1},{223,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,66}</string>
			</dict>
			<key>gameui/pausebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,719},{656,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{656,243}</string>
			</dict>
			<key>gameui/pausebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,424},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>gameui/prop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,424},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>gameui/prop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,519},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>gameui/restartbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,128},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>gameui/soundbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,723},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>gameui/soundbtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,289},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>gameui/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,964},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>gameui/starbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,964},{125,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,51}</string>
			</dict>
			<key>gameui/starhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,964},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>gameui/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1},{720,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,143}</string>
			</dict>
			<key>gameui/ballbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1},{125,125}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>gameui/icepg.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,723},{148,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>gameui/timebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,859},{125,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,82}</string>
			</dict>
			<key>sdk/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{603,716}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{603,716}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameuiplist.png</string>
			<key>realTextureFileName</key>
			<string>gameuiplist.png</string>
			<key>size</key>
			<string>{1012,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1012</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>