<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fnt/fntitemnuma_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,491},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,491},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,195},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,471},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,491},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,325},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,399},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,247},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,215},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,169},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuma_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,130},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,83},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,48},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,235},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,269},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,303},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,323},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,235},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,203},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,269},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,303},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntitemnuml_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,323},{18,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,32}</string>
			</dict>
			<key>fnt/fntlevel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,77},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,229},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,381},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,77},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntlevel_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,153},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>fnt/fntnum_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,54},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,100},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,153},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,55},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,86},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,54},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntnum_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntuilevel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,229},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,284},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,339},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,394},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,449},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,56},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,111},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,166},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuilevel_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,221},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>fnt/fntuinum_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,85},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,54},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,83},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,303},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,303},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,350},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,379},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,408},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,455},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/fntuinum_heng.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,484},{27,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,45}</string>
			</dict>
			<key>fnt/smalllevelnum_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,85},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,250},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,303},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,356},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,387},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,418},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,250},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,216},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,184},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/smalllevelnum_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,138},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>
			<key>fnt/fntsmalllevel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,276},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,341},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,440},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,276},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,341},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,440},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,66},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,131},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/fntsmalllevel_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,218},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>fnt/smalllevelstar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,406},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,406},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,372},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,406},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,369},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,403},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,161},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,1},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,100},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,154},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/smalllevelstar_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,216},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>fnt/win_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,264},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,216},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,318},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,440},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,440},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,261},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,315},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,437},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,107},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/win_num_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,55},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>
			<key>fnt/timefont_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,408},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>fnt/timefont_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,196},{20,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,37}</string>
			</dict>
			<key>fnt/timefont_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,188},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>fnt/timefont_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,286},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>fnt/timefont_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,447},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/timefont_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,345},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>fnt/timefont_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,476},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/timefont_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,372},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>fnt/timefont_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,188},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>fnt/timefont_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,247},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/timefont_mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,196},{18,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fntplist.png</string>
			<key>realTextureFileName</key>
			<string>fntplist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>