<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ball/1013/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,133},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,133},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,133},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,223},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,223},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,223},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,265},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,265},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,265},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,355},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,355},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,355},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,397},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,397},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,397},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1013/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,487},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1014/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,487},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,487},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,609},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,609},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,619},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,619},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/bump/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,731},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,731},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,741},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,741},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,853},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,863},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,863},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,853},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1014/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1015/bom/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballplist7.png</string>
			<key>realTextureFileName</key>
			<string>ballplist7.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>