<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ball/1016/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,529},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,651},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,773},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,499},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,621},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,743},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,865},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,499},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,621},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,743},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,865},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,499},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,499},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1016/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,529},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/closeeye/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/closeeye/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,499},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/closeeye/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,133},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/openeye/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,255},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/openeye/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,377},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/openeye/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,621},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,133},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,265},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,397},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/ball/1017/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,743},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,865},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,621},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,621},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,743},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,865},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,743},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1017/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,865},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballplist10.png</string>
			<key>realTextureFileName</key>
			<string>ballplist10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>