<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ball/1011/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,580},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,730},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,480},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,320},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,630},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,780},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,470},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/bump/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,320},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ball/1011/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,320},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>animation/ball/1011/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,220},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,340},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,460},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,880},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,880},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,620},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,740},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,620},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,470},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,860},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,740},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,590},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,470},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,320},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,860},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,710},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,590},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1011/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,440},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1015/bom/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballplist5.png</string>
			<key>realTextureFileName</key>
			<string>ballplist5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>