<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ball/1000/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/bump/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,855},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1000/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/bump/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,855},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,855},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,855},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1001/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballplist2.png</string>
			<key>realTextureFileName</key>
			<string>ballplist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>