<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ball/1006/bump/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,445},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/bump/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,445},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,445},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,445},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,489},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,567},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,567},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,567},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,567},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/roll/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,611},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,689},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,689},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,689},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,689},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1006/stay/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,733},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>animation/ball/1015/bom/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,223},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
			<key>animation/ball/1015/bom/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,223},{280,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballplist4.png</string>
			<key>realTextureFileName</key>
			<string>ballplist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>