<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/ballbg/lrbg/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,455},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,607},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,759},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,303},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,303},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/lrbg/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,303},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,455},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,607},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,759},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,455},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,455},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,607},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/udbg/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,759},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/ballbg/icebom/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/ballbg/icebom/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,303},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/ballbg/icebom/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/ballbg/icebom/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>animation/ballbg/icebom/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ballbgplist.png</string>
			<key>realTextureFileName</key>
			<string>ballbgplist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>